/* App.css */

/* Reset y box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif; /* O cambia a Montserrat si deseas */
  background-color: #f4f4f4;
}

/* Contenedor principal donde irá tu contenido/rutas */
.main-content {
  margin-top: 70px;
  transition: margin-left 0.3s ease;
  padding: 20px;
  overflow-y: auto; /* Permite scroll vertical si es necesario */
  max-height: calc(100vh - 70px); /* Ajusta la altura máxima */
}

@media (min-width: 769px) {
  .main-content {
    margin-left: 280px;
    max-width: calc(100vw - 280px);
  }
}

/* En pantallas grandes (desktop), reserva el espacio a la izquierda 
   para el sidebar, que mide 280px */
@media (min-width: 769px) {
  .main-content {
    margin-left: 280px; 
  }
}

/* En dispositivos móviles, se permite scroll vertical */
@media (max-width: 768px) {
  .main-content {
    overflow-y: auto;
    max-height: 100vh;
  }
}

/* Ejemplo de footer */
.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
